<div class="d-flex flex-row visualize-detail">
  <div class="m-1">
    <mat-card>
      <mat-form-field appearance="fill" class="input-control">
        <input matInput autocomplete="off">
      </mat-form-field>
    </mat-card>
  </div>
  <div class="m-1">
    <mat-card>
      <mat-form-field appearance="fill" class="select-control">
        <mat-select>
          <mat-option value="+">Addition (+)</mat-option>
          <mat-option value="-">Subtraction (-)</mat-option>
          <mat-option value="*">Multiplication (*)</mat-option>
          <mat-option value="/">Division (/)</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
  </div>
  <div class="m-1">
    <mat-card>
      <mat-form-field appearance="fill" class="input-control">
        <input matInput autocomplete="off">
      </mat-form-field>
    </mat-card>
  </div>
</div>
