<h2 mat-dialog-title class="px-2">New expression configuration</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
  <mat-selection-list [multiple]="false" [formControl]="isInLeftSide">
    <ng-container *ngIf="isPower; else IsNotPower">
      <mat-list-option [value]="true">
        Expression
      </mat-list-option>
      <mat-list-option [value]="false">
        Power
      </mat-list-option>
    </ng-container>
    <ng-template #IsNotPower>
      <mat-list-option [value]="true">
        Left
      </mat-list-option>
      <mat-list-option [value]="false">
        Right
      </mat-list-option>
    </ng-template>
  </mat-selection-list>

  <ng-container *ngIf="isVariable">
    <mat-divider></mat-divider>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Variable name</mat-label>
      <input matInput placeholder="Enter variable name" [formControl]="textValue" autocomplete="off">
      <mat-hint>Enter a character (a or b ...)</mat-hint>
      <mat-error *ngIf="textValue.invalid">
        Variable name is required. Please enter a valid variable name!
      </mat-error>
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="isNumber">
    <mat-divider></mat-divider>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Static value</mat-label>
      <input matInput placeholder="Enter the value" [formControl]="numberValue" autocomplete="off">
      <mat-error *ngIf="numberValue.invalid">
        Value is required. Please enter a valid number!
      </mat-error>
    </mat-form-field>
  </ng-container>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end" class="px-4 py-0">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" cdkFocusInitial (click)="onSelect()">Select</button>
</mat-dialog-actions>
