<mat-card>
  <div class="d-flex flex-row justify-content-between">
    <div>
      <mat-card-title>Formula visualization</mat-card-title>
      <mat-card-subtitle>By clicking you can add your formula</mat-card-subtitle>
    </div>
    <button mat-raised-button color="accent" class="mb-3 mr-3">Apply</button>
  </div>
  <div class="visualize-content">
    <app-expression [syntaxTree]="syntaxTree" [canRemove]="false" (removeEmitter)="onRemove($event)" *ngIf="syntaxTree">
    </app-expression>
  </div>
</mat-card>
