.function-section {
  border-radius: 5px;
  padding: 5px;

  .function-name {
    color: #005783;
    font-size: 1.3rem;
    font-weight: 700;
    background: #b1d0e0;
    cursor: pointer;
  }

  ul {
    border: 1px solid #005783;
  }
}
