.expression {
  .operator {
    font-size: 1.6rem;
    font-weight: 700;
    border: 1px solid #424242;
    padding: 6px;
    border-radius: 50%;
    color: #424242;
  }

  .mat-card {
    min-height: 103px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .selected-expression {
    border: 1px solid red;
  }
}
