.expression {
  .operator-container {
    border: 1px solid #d22779;
    border-radius: 50%;
    padding: 3px;

    .operator {
      font-size: 1.6rem;
    }
  }

  .mat-card {
    min-height: 103px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
}
