.expression {
  .operator {
    font-size: 25px;
    font-weight: 700;
    min-height: 45px;
    max-width: 80px;
  }

  .mat-card {
    min-height: 103px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .selected-expression {
    border: 1px solid red;
  }
}
