<h2 mat-dialog-title>Select position</h2>
<mat-dialog-content class="mat-typography position-container">
  <mat-selection-list [multiple]="false" [formControl]="isInLeftSide" (selectionChange)="onSelect()">
    <ng-container *ngIf="isPower; else IsNotPower">
      <mat-list-option [value]="true">
        Expression
      </mat-list-option>
      <mat-list-option [value]="false">
        Power
      </mat-list-option>
    </ng-container>
    <ng-template #IsNotPower>
      <mat-list-option [value]="true">
        Left
      </mat-list-option>
      <mat-list-option [value]="false">
        Right
      </mat-list-option>
    </ng-template>
  </mat-selection-list>
</mat-dialog-content>
