<form [formGroup]="form" class="home-content">
  <div class="alert alert-success">
    <h1>Welcome to the formulizer!</h1>
  </div>
  <mat-divider></mat-divider>
  <div class="d-flex flex-column">
    <div class="m-2">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Formula</mat-label>
        <textarea matInput placeholder="Enter formula" formControlName="formula"></textarea>
      </mat-form-field>
    </div>
    <div class="m-2">
      <button class="btn btn-primary" (click)="updateAstView()">Parse and update AST View</button>
    </div>
    <div class="m-2">
      <pre class="tree-content p-3" *ngIf="syntaxTreeJson">{{ syntaxTreeJson }}</pre>
    </div>
    <div class="m-2">
      <button class="btn btn-primary" (click)="convertAstToFormula()">Convert AST to Formula</button>
    </div>
    <div class="m-2">
      <pre class="formula-content p-3" *ngIf="visualizerOutput">{{ visualizerOutput }}</pre>
    </div>
    <div class="m-2">
      <button class="btn btn-primary">Visualize Formula</button>
    </div>
    <div class="m-2">
      <app-visualize [syntaxTree]="syntaxTree"></app-visualize>
    </div>
  </div>
</form>
