.home-content {
  .formula-text-area {
    font-size: 1.2rem;
  }

  .tree-content {
    max-height: calc(100vh - 320px);
    overflow-y: auto;
    background-color: #eeeeee;
  }

  .formula-content {
    background-color: #eeeeee;
  }
}
