.parentis-section {
  mat-card {
    background-color: #f6f6f6;

    &.selected-expression {
      background-color: #f8a1d1;
    }
  }

  .addition {
    border: 2px solid #3694c4;
  }

  .subtraction {
    border: 2px solid #54c54c;
  }

  .power {
    border: 2px solid #f3bc78;
  }

  .multiplication {
    border: 2px solid #2b68d3;
  }

  .division {
    border: 2px solid #eed276;
  }

  .function {
    border: 2px solid #e2d55d;
  }

  .action-buttons {
    position: absolute;
    top: -18px;
    right: 5px;
    z-index: 50;

    button {
      width: 32px;
      height: 32px;

      .mat-icon {
        font-size: 15px;
      }
    }
  }
}
