<section class="expression-list">
  <button mat-mini-fab color="primary" class="mx-1" [matMenuTriggerFor]="Expressions" *ngIf="visible">
    <mat-icon>add</mat-icon>
  </button>
  <mat-menu #Expressions="matMenu">
    <ng-container *ngFor="let expression of expressionList">
      <button mat-menu-item [matMenuTriggerFor]="SubMenu">
        <mat-icon>{{ expression.icon }}</mat-icon>
        {{ expression.title }}
      </button>
      <mat-menu #SubMenu="matMenu">
        <button *ngFor="let subItem of expressionDetails(expression.id)" mat-menu-item (click)="addNew(subItem)">
          <mat-icon>{{ subItem.icon }}</mat-icon>
          {{ subItem.title }}
        </button>
      </mat-menu>
    </ng-container>
  </mat-menu>
</section>
