<!-- <container-element [ngSwitch]="node?.type" class="expression-item">
  <div *ngSwitchCase="'NUMBER'">
    <div class="alert alert-info const-value">{{ node?.value }}</div>
  </div>
  <div *ngSwitchCase="'PI'">
    <div class="alert alert-info const-value">PI</div>
  </div>
  <div *ngSwitchCase="'E'">
    <div class="alert alert-info const-value">E</div>
  </div>
  <div *ngSwitchCase="'FUNCTION'" class="d-flex flex-row align-items-center">
    <div class="alert alert-success function-name-container">
      <span class="const-value">{{ node?.name }}</span>
    </div>
    <ng-container *ngIf="node?.arguments && node.arguments.length > 0">
      <app-expression *ngFor="let arg of node.arguments" [node]="arg" [canRemove]="false" [canAdd]="false"
        (removeEmitter)="RemoveNode($event)">
      </app-expression>
    </ng-container>
  </div>
  <div *ngSwitchCase="'VARIABLE'">
    <mat-form-field appearance="fill" class="input-control">
      <input matInput autocomplete="off" type="number" (blur)="onBlurInput($event)">
    </mat-form-field>
  </div>
  <div *ngSwitchDefault>Wrong</div>
</container-element> -->
