.expression {
  .node-action-button {
    z-index: 1;
    position: relative;
    top: -40px;
  }

  .select-control {
    ::ng-deep .mat-form-field-infix {
      width: 130px;
    }
  }

  .input-control {
    ::ng-deep .mat-form-field-infix {
      width: 140px;
    }
  }

  .mat-card {
    min-height: 103px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
