.expression {
  .node-action-button {
    z-index: 1;
    position: relative;
    top: -15px;
  }

  .select-control {
    ::ng-deep .mat-form-field-infix {
      width: 100px;
    }
  }

  .mat-card {
    min-height: 103px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
