/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  overflow-y: hidden;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.mat-tooltip-panel {
  .mat-tooltip {
    color: #424242;
    background-color: rgb(211, 248, 211);
    border: 1px solid rgb(56, 243, 56);
    border-radius: 3px;
    font-size: 15px;
    padding: 10px;
  }
}
