<h1 mat-dialog-title class="p-3 mb-0">Select position</h1>
<mat-divider></mat-divider>
<div mat-dialog-content class="position-container">
  <ng-container *ngIf="isPower; else HasLeftAndRight">
    <div class="alert alert-success m-1" (click)="onSelect(true)">Expression</div>
    <div class="alert alert-success m-1" (click)="onSelect(false)">Power</div>
  </ng-container>
  <ng-template #HasLeftAndRight>
    <div class="alert alert-success m-1" (click)="onSelect(true)">Left</div>
    <div class="alert alert-success m-1" (click)="onSelect(false)">Right</div>
  </ng-template>
</div>
